{
  "name": "{{ project_name }}-frontend",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview"{{ prettier_script }}
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "dependencies": {
    {{ dependencies }}
  },
  "devDependencies": {
    {{ dev_dependencies }}
  }
}